:root {
  --bg: #78aeff;
  --grey: #b5b5b5;
  --laal: #f00000;
}
* {
  margin: 0;
  padding: 0;
}
.flex {
  display: flex;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.main {
  background-color: var(--bg);
  min-height: 100vh;
  min-width: 100vw;
  justify-content: space-around;
}
.left {
  flex-grow: 1;
}
.right {
  flex-grow: 1;
}
